:root {
    /* colors */
    --main_black_color: black;
    --main_white_color: white;
    --main_dark_color: #4068A5;
    --main_dark_lighter_color: #DAE9FF;
    --main_light_color: #FFC225;
    --main_light_lighter_color: #FFEDBD;
    /* sizes */
    --container_width: 1155px;
    --container_height: 900px;
    --content_width: 1155px;
    /* board sizes */
    --board_width: 345px;
    --board_1_height: 795px;
    --board_2_height: 390px;
    --board_3_height: 255px;
    --panel_height: 20px;
    --top_menu_height: 45px;
    /* border */
    --border_radius: 5px;
    --border_line_width: 1px;
}

* {
    font-family: Roboto, Arial, Verdana, Helvetica;
    font-size: 14;
    border-radius: var(--border_radius);
}

.shadowed {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bordered {
    border: var(--border_line_width) solid var(--main_black_color);
    /* box-sizing: border-box; */
}

.height_1 {
    height: var(--board_1_height);
}

.height_2 {
    height: var(--board_2_height);
}

.height_3 {
    height: var(--board_3_height);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: calc(1065px + 15px);
    justify-content: space-around;
    /* align-items: center; */
}

.container {
    background: #FFC225;
    width: var(--container_width);
    height: var(--container_height);
    margin: 0 auto;
}


/* top_menu */

.top_menu {
    background-color: var(--main_dark_color);
    width: var(--content_width);
    height: var(--top_menu_height);
    margin: auto;
}

.search_form {
    background-color: var(--main_dark_lighter_color);
}


/* sidebar */

aside {
    float: left;
    margin: 15px 0px 15px 0px;
    background: var(--main_dark_lighter_color);
    width: 75px;
}


/* content */

.content {
    float: right;
    margin: 15px 0px 15px 0px;
    background: #b93170;
    width: calc(1065px + 30px);
    height: calc(var(--board_1_height) + 30px);
}

.board,
.title,
.create_button {
    border-radius: var(--border_radius);
}

.board {
    margin: 7.5px;
    background-color: var(--main_white_color);
    width: var(--board_width);
}

.title,
.create_button {
    background-color: var(--main_dark_lighter_color);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    height: var(--panel_height);
    line-height: var(--panel_height);
}


/* .title {} */


/* .create_button {} */


/* footer */

footer {
    clear: both;
    background: rgb(85, 85, 185);
}