:root {
    /* colors */
    --main_black_color: black;
    --main_white_color: white;
    --main_dark_color: #4068A5;
    --main_dark_lighter_color: #DAE9FF;
    --main_light_color: #FFC225;
    --main_light_lighter_color: #FFEDBD;
    /* sizes */
    --container_width: 1200px;
    --container_height: 900px;
    --content_height: 810px;
    /* grid sizes */
    --grid_column_width: 75px;
    --grid_column_space_width: 15px;
    --grid_row_height: 15px;
    /* border */
    --border_radius: 5px;
    --border_line_width: 1px;
    /*calculated sizes*/
    --main_margin: calc(var(--grid_column_space_width) / 2);
    --width_1: calc(var(--grid_column_width) * 1);
    --width_4: calc(var(--grid_column_width) * 4 + var(--grid_column_space_width) * 3);
    --width_13: calc(var(--grid_column_width) * 13 + var(--grid_column_space_width) * 12);
    --height_1: calc(var(--grid_row_height) * 1);
    --height_3: calc(var(--grid_row_height) * 3);
    --height_17: calc(var(--grid_row_height) * 17);
    --height_26: calc(var(--grid_row_height) * 26);
    --height_53: calc(var(--grid_row_height) * 53);
    --board_title_height: 20px;
}

* {
    font-family: Roboto, Arial, Verdana, Helvetica;
    font-size: 14px;
}

.main_flex_container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    width: var(--container_width);
    height: var(--container_height);
}

.content_flex_container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: var(--content_height);
}

header {
    background: var(--main_dark_color);
}

aside {
    background: var(--main_dark_lighter_color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.aside_icon {
    width: var(--grid_column_width);
    height: calc(var(--grid_row_height) * 5);
}

.aside_icon a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside_icon:hover {
    background: var(--main_light_color);
    border: var(--border_line_width) solid var(--main_black_color);
    box-sizing: border-box;
}

.aside_active {
    background: var(--main_light_lighter_color);
    border: var(--border_line_width) solid var(--main_black_color);
    box-sizing: border-box;
}

.aside_link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.aside_icon a img {
    width: calc(var(--grid_column_width) - var(--grid_row_height));
    height: calc(var(--grid_row_height) * 4);
}

.board {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.board_title {
    background: var(--main_dark_lighter_color);
    height: var(--board_title_height);
    position: relative;
    top: calc(var(--border_line_width) - 2 * var(--border_line_width));
    left: calc(var(--border_line_width) - 2 * var(--border_line_width));
    right: calc(var(--border_line_width) - 2 * var(--border_line_width));
}

.board_content {
    width: calc(var(--width_4) - 2 * var(--border_line_width));
    width: calc(var(--width_4) - 2 * var(--border_line_width));
    height: calc(var(--height_53) - 2 * (var(--board_title_height) + 2px));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
}

.board_content::-webkit-scrollbar {
    width: 5px;
}

.board_content::-webkit-scrollbar-track {
    background: rgb(233, 233, 233);
    border-radius: 2.5px;
}

.board_content::-webkit-scrollbar-thumb {
    background: var(--main_light_lighter_color);
    border-radius: 2.5px;
}

.board_content::-webkit-scrollbar-thumb:hover {
    background: var(--main_light_color);
    border-radius: 2.5px;
}

.board_content ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.board_content ul li {
    list-style: none;
    height: var(--grid_row_height);
    margin: var(--main_margin) 2px var(--main_margin) 2px;
    padding: 2.5px;
}

.board_content ul li:hover {
    background: var(--main_light_color);
    border: var(--border_line_width) solid var(--main_black_color);
}

.board_content_no_active_line {
    border: var(--border_line_width) solid var(--main_white_color);
}

.board_content_active_line {
    background: var(--main_light_lighter_color);
    border: var(--border_line_width) solid var(--main_black_color);
}

.board_create_button {
    background: var(--main_light_lighter_color);
    height: var(--board_title_height);
    position: relative;
    bottom: calc(var(--border_line_width) * -1);
    left: calc(var(--border_line_width) * -1);
    right: calc(var(--border_line_width) * -1);
}

.board_create_button:hover {
    background: var(--main_light_color);
}

footer {
    background: rgb(195, 236, 99);
}

.first_margined {
    margin: 0 var(--main_margin) var(--main_margin);
    position: relative;
    top: calc(var(--border_line_width) * -1);
}

.margined {
    margin: var(--main_margin);
}

.bordered {
    border: var(--border_line_width) solid var(--main_black_color);
    box-sizing: border-box;
}

.shadowed {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rounded {
    border-radius: var(--border_radius);
}

.height_1 {
    height: var(--height_1);
}

.height_3 {
    height: var(--height_3);
}

.height_17 {
    height: var(--height_17);
}

.height_26 {
    height: var(--height_26);
}

.height_53 {
    height: var(--height_53);
}

.width_100_per {
    width: 100%;
}

.width_1 {
    width: var(--width_1);
}

.width_4 {
    width: var(--width_4);
}

.width_13 {
    width: var(--width_13);
}