:root {
    /* colors */
    --main_black_color: black;
    --main_white_color: white;
    --main_dark_color: #4068A5;
    --main_dark_lighter_color: #DAE9FF;
    --main_light_color: #FFC225;
    --main_light_lighter_color: #FFEDBD;
    --main_grey_color: #646464;
    --main_grey_lighter_color: #e9e9e9;
    /* sizes */
    --container_width: 1200px;
    --container_height: 900px;
    --content_height: 810px;
    /* grid sizes */
    --grid_column_width: 75px;
    --grid_column_space_width: 15px;
    --grid_row_height: 15px;
    /* border */
    --border_radius: 5px;
    --border_line_width: 1px;
    --board_line_padding: 2.5px;
    --checkbox_size: 12px;
    /*calculated sizes*/
    --main_margin: calc(var(--grid_column_space_width) / 2);
    --width_1: calc(var(--grid_column_width) * 1);
    --width_2: calc(var(--grid_column_width) * 2 + var(--grid_column_space_width) * 1);
    --width_4: calc(var(--grid_column_width) * 4 + var(--grid_column_space_width) * 3);
    --width_8: calc(var(--grid_column_width) * 8 + var(--grid_column_space_width) * 7);
    --width_9: calc(var(--grid_column_width) * 9 + var(--grid_column_space_width) * 8);
    --width_13: calc(var(--grid_column_width) * 13 + var(--grid_column_space_width) * 12);
    --width_board_landing_title: calc(var(--grid_row_height) * 8);
    --height_1: calc(var(--grid_row_height) * 1);
    --height_3: calc(var(--grid_row_height) * 3);
    --height_4: calc(var(--grid_row_height) * 4);
    --height_17: calc(var(--grid_row_height) * 17);
    --height_26: calc(var(--grid_row_height) * 26);
    --height_53: calc(var(--grid_row_height) * 53);
    --height_board_title: 20px;
    --height_board_content_17: calc(var(--height_17) - 2 * (var(--height_board_title) + 2px));
    --height_board_content_26: calc(var(--height_26) - 2 * (var(--height_board_title) + 2px));
    --height_board_content_53: calc(var(--height_53) - 2 * (var(--height_board_title) + 2px));
    --height_board_content_no_title_or_btn_17: calc(var(--height_17) - 1 * (var(--height_board_title) + 2px));
    --height_board_content_no_title_or_btn_26: calc(var(--height_26) - 1 * (var(--height_board_title) + 2px));
    --height_board_content_no_title_or_btn_53: calc(var(--height_53) - 1 * (var(--height_board_title) + 2px));
    --height_board_landing_title: calc(var(--grid_row_height) * 8);
    ;
}

* {
    font-family: Roboto, Arial, Verdana, Helvetica;
    font-size: 14px;
}


/* body {
    filter: blur(3px);
} */

.main_flex_container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    width: var(--container_width);
    height: var(--container_height);
}

.content_flex_container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: var(--content_height);
}

header {
    background: var(--main_dark_color);
    display: flex;
}

.header_app_name {
    position: relative;
    top: calc(var(--border_line_width) * -1);
    left: calc(var(--border_line_width) * -1);
    margin-right: var(--main_margin);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--main_white_color);
    text-shadow: 1px 1px 1px var(--main_black_color);
    padding-left: 25px;
}

.header_search {
    position: relative;
    top: calc(var(--border_line_width) * -1);
    margin-left: var(--main_margin);
    margin-right: var(--main_margin);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.header_search_input {
    background: var(--main_dark_lighter_color);
    background-image: url('/imgs/header/icon_search.png');
    background-position: 5px 3.5px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding: 2.5px 2.5px 2.5px 25px;
}

.header_search_input:focus {
    background: var(--main_light_lighter_color);
    background-image: url('/imgs/header/icon_search.png');
    background-position: 5px 3.5px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding: 2.5px 2.5px 2.5px 25px;
    outline: 1px solid var(--main_light_lighter_color);
}

.header_user_info {
    position: relative;
    top: calc(var(--border_line_width) * -1);
    right: calc(var(--border_line_width) * -1);
    margin-left: var(--main_margin);
    width: var(--width_2);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: end;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--main_white_color);
    text-shadow: 1px 1px 1px var(--main_black_color);
    padding-right: 25px;
}

aside {
    background: var(--main_dark_lighter_color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.aside_icon {
    width: var(--grid_column_width);
    height: calc(var(--grid_row_height) * 5);
}

.aside_icon a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside_icon:hover {
    background: var(--main_light_color);
    border: var(--border_line_width) solid var(--main_black_color);
    box-sizing: border-box;
}

.aside_active {
    background: var(--main_light_lighter_color);
    border: var(--border_line_width) solid var(--main_black_color);
    box-sizing: border-box;
}

.aside_link {
    color: var(--main_black_color);
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.aside_icon a img {
    width: calc(var(--grid_column_width) - var(--grid_row_height));
    height: calc(var(--grid_row_height) * 4);
}

.board {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.board_title {
    background: var(--main_dark_lighter_color);
    height: var(--height_board_title);
    position: relative;
    top: calc(var(--border_line_width) - 2 * var(--border_line_width));
    left: calc(var(--border_line_width) - 2 * var(--border_line_width));
    right: calc(var(--border_line_width) - 2 * var(--border_line_width));
    line-height: var(--height_board_title);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.board_content {
    width: calc(var(--width_4) - 2 * var(--border_line_width));
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    overflow-y: scroll;
}

.board_content::-webkit-scrollbar {
    width: 5px;
}

.board_content::-webkit-scrollbar-track {
    background: var(--main_grey_lighter_color);
    border-radius: calc(var(--border_radius) / 2);
}

.board_content::-webkit-scrollbar-thumb {
    background: var(--main_light_lighter_color);
    border-radius: calc(var(--border_radius) / 2);
}

.board_content::-webkit-scrollbar-thumb:hover {
    background: var(--main_light_color);
    border-radius: calc(var(--border_radius) / 2);
}

.board_content ul {
    list-style: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.board_content ul li {
    list-style: none;
    height: var(--grid_row_height);
    margin: var(--main_margin) 2px var(--main_margin) 2px;
    padding: var(--board_line_padding);
}

.board_content ul li:hover {
    background: var(--main_light_color);
    border: var(--border_line_width) solid var(--main_black_color);
}

.board_content_no_active_line {
    border: var(--border_line_width) solid var(--main_white_color);
}

.board_content_active_line {
    background: var(--main_light_lighter_color);
    border: var(--border_line_width) solid var(--main_black_color);
}

.board_button_container {
    display: flex;
    justify-content: space-between;
}

.board_create_button {
    background: var(--main_light_lighter_color);
    height: var(--height_board_title);
    position: relative;
    bottom: calc(var(--border_line_width) * -1);
    left: calc(var(--border_line_width) * -1);
    right: calc(var(--border_line_width) * -1);
    line-height: var(--height_board_title);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.board_create_button:hover {
    background: var(--main_light_color);
}

.board_content_no_active_line a,
.board_content_active_line a {
    position: relative;
    top: calc(-1 * (var(--board_line_padding) + var(--border_line_width)));
    left: calc(-1 * (var(--board_line_padding) + var(--border_line_width)));
    border-radius: var(--border_radius);
    padding: calc((var(--board_line_padding) + var(--border_line_width)));
}

.board_line_container {
    position: relative;
    height: var(--grid_row_height);
    padding: calc((var(--board_line_padding) + var(--border_line_width)));
    top: calc(-1 * (var(--board_line_padding) + var(--border_line_width)));
    left: calc(-1 * (var(--board_line_padding) + var(--border_line_width)));
    border-radius: var(--border_radius);
    display: flex;
}

.board_line_checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board_checkbox {
    margin: 0px;
    height: var(--checkbox_size);
    width: var(--checkbox_size);
    accent-color: var(--main_light_lighter_color);
}

.board_line_param_name {
    text-align: start;
}

.board_line_param_value {
    text-align: end;
    color: var(--main_grey_color);
}

.board_content_landing {
    display: flex;
    flex-wrap: wrap
}

.board_landing_title {
    display: flex;
    justify-content: center;
    margin: calc(var(--grid_row_height) + var(--main_margin)) auto var(--main_margin);
}

.board_landing_title img {
    width: var(--width_board_landing_title);
    height: var(--height_board_landing_title);
}

.board_landing_input_box {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin: var(--main_margin) auto;
    text-transform: uppercase;
    font-weight: bold;
}

.board_landing_input {
    padding: 2.5px var(--main_margin);
}

.board_landing_input:focus {
    padding: 2.5px var(--main_margin);
    background: var(--main_light_lighter_color);
    outline: 1px solid var(--main_light_lighter_color);
}

.board_landing_select {
    padding: 1.5px 2.5px;
}

.board_landing_select:focus {
    padding: 1.5px 2.5px;
    background-color: var(--main_light_lighter_color);
    outline: 1px solid var(--main_light_lighter_color);
}

footer {
    text-align: center;
    color: var(--main_dark_color);
}

.first_margined {
    margin: 0 var(--main_margin) var(--main_margin);
    position: relative;
    top: calc(var(--border_line_width) * -1);
}

.margined {
    margin: var(--main_margin);
}

.bordered {
    border: var(--border_line_width) solid var(--main_black_color);
    box-sizing: border-box;
}

.shadowed {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rounded {
    border-radius: var(--border_radius);
}

.height_1 {
    height: var(--height_1);
}

.height_3 {
    height: var(--height_3);
}

.height_4 {
    height: var(--height_4);
}

.height_17 {
    height: var(--height_17);
}

.height_26 {
    height: var(--height_26);
}

.height_53 {
    height: var(--height_53);
}

.height_board_content_17 {
    height: var(--height_board_content_17);
}

.height_board_content_26 {
    height: var(--height_board_content_26);
}

.height_board_content_53 {
    height: var(--height_board_content_53);
}

.height_board_content_no_title_or_btn_17 {
    height: var(--height_board_content_no_title_or_btn_17);
}

.height_board_content_no_title_or_btn_26 {
    height: var(--height_board_content_no_title_or_btn_26);
}

.height_board_content_no_title_or_btn_53 {
    height: var(--height_board_content_no_title_or_btn_53);
}

.width_1_per {
    width: 1%;
}

.width_2_per {
    width: 2%;
}

.width_3_per {
    width: 3%;
}

.width_4_per {
    width: 4%;
}

.width_5_per {
    width: 5%;
}

.width_6_per {
    width: 6%;
}

.width_7_per {
    width: 7%;
}

.width_8_per {
    width: 8%;
}

.width_9_per {
    width: 9%;
}

.width_10_per {
    width: 10%;
}

.width_11_per {
    width: 11%;
}

.width_12_per {
    width: 12%;
}

.width_13_per {
    width: 13%;
}

.width_14_per {
    width: 14%;
}

.width_15_per {
    width: 15%;
}

.width_16_per {
    width: 16%;
}

.width_17_per {
    width: 17%;
}

.width_18_per {
    width: 18%;
}

.width_19_per {
    width: 19%;
}

.width_20_per {
    width: 20%;
}

.width_21_per {
    width: 21%;
}

.width_22_per {
    width: 22%;
}

.width_23_per {
    width: 23%;
}

.width_24_per {
    width: 24%;
}

.width_25_per {
    width: 25%;
}

.width_26_per {
    width: 26%;
}

.width_27_per {
    width: 27%;
}

.width_28_per {
    width: 28%;
}

.width_29_per {
    width: 29%;
}

.width_30_per {
    width: 30%;
}

.width_31_per {
    width: 31%;
}

.width_32_per {
    width: 32%;
}

.width_33_per {
    width: 33%;
}

.width_34_per {
    width: 34%;
}

.width_35_per {
    width: 35%;
}

.width_36_per {
    width: 36%;
}

.width_37_per {
    width: 37%;
}

.width_38_per {
    width: 38%;
}

.width_39_per {
    width: 39%;
}

.width_40_per {
    width: 40%;
}

.width_41_per {
    width: 41%;
}

.width_42_per {
    width: 42%;
}

.width_43_per {
    width: 43%;
}

.width_44_per {
    width: 44%;
}

.width_45_per {
    width: 45%;
}

.width_46_per {
    width: 46%;
}

.width_47_per {
    width: 47%;
}

.width_48_per {
    width: 48%;
}

.width_49_per {
    width: 49%;
}

.width_50_per {
    width: 50%;
}

.width_51_per {
    width: 51%;
}

.width_52_per {
    width: 52%;
}

.width_53_per {
    width: 53%;
}

.width_54_per {
    width: 54%;
}

.width_55_per {
    width: 55%;
}

.width_56_per {
    width: 56%;
}

.width_57_per {
    width: 57%;
}

.width_58_per {
    width: 58%;
}

.width_59_per {
    width: 59%;
}

.width_60_per {
    width: 60%;
}

.width_61_per {
    width: 61%;
}

.width_62_per {
    width: 62%;
}

.width_63_per {
    width: 63%;
}

.width_64_per {
    width: 64%;
}

.width_65_per {
    width: 65%;
}

.width_66_per {
    width: 66%;
}

.width_67_per {
    width: 67%;
}

.width_68_per {
    width: 68%;
}

.width_69_per {
    width: 69%;
}

.width_70_per {
    width: 70%;
}

.width_71_per {
    width: 71%;
}

.width_72_per {
    width: 72%;
}

.width_73_per {
    width: 73%;
}

.width_74_per {
    width: 74%;
}

.width_75_per {
    width: 75%;
}

.width_76_per {
    width: 76%;
}

.width_77_per {
    width: 77%;
}

.width_78_per {
    width: 78%;
}

.width_79_per {
    width: 79%;
}

.width_80_per {
    width: 80%;
}

.width_81_per {
    width: 81%;
}

.width_82_per {
    width: 82%;
}

.width_83_per {
    width: 83%;
}

.width_84_per {
    width: 84%;
}

.width_85_per {
    width: 85%;
}

.width_86_per {
    width: 86%;
}

.width_87_per {
    width: 87%;
}

.width_88_per {
    width: 88%;
}

.width_89_per {
    width: 89%;
}

.width_90_per {
    width: 90%;
}

.width_91_per {
    width: 91%;
}

.width_92_per {
    width: 92%;
}

.width_93_per {
    width: 93%;
}

.width_94_per {
    width: 94%;
}

.width_95_per {
    width: 95%;
}

.width_96_per {
    width: 96%;
}

.width_97_per {
    width: 97%;
}

.width_98_per {
    width: 98%;
}

.width_99_per {
    width: 99%;
}

.width_100_per {
    width: 100%;
}

.width_1 {
    width: var(--width_1);
}

.width_2 {
    width: var(--width_2);
}

.width_4 {
    width: var(--width_4);
}

.width_8 {
    width: var(--width_8);
}

.width_9 {
    width: var(--width_9);
}

.width_13 {
    width: var(--width_13);
}


/*for debug*/

.random_bg_color_1 {
    background: rgba(255, 46, 18, 0.5);
}

.random_bg_color_2 {
    background: rgba(245, 171, 13, 0.5);
}

.random_bg_color_3 {
    background: rgba(233, 213, 29, 0.5);
}

.random_bg_color_4 {
    background: rgba(47, 247, 20, 0.5);
}

.random_bg_color_5 {
    background: rgba(13, 191, 245, 0.5);
}

.random_bg_color_6 {
    background: rgba(16, 20, 238, 0.5);
}

.random_bg_color_7 {
    background: rgba(238, 16, 227, 0.5);
}