:root {
    /* colors */
    --main_black_color: black;
    --main_white_color: white;
    --main_dark_color: #4068A5;
    --main_dark_lighter_color: #DAE9FF;
    --main_light_color: #FFC225;
    --main_light_lighter_color: #FFEDBD;
    --main_grey_color: #646464;
    --main_grey_lighter_color: #e9e9e9;
    /* sizes */
    --container_width: 1200px;
    --container_height: 900px;
    --content_height: 810px;
    /* grid sizes */
    --grid_column_width: 75px;
    --grid_column_space_width: 15px;
    --grid_row_height: 15px;
    /* border */
    --border_radius: 5px;
    --border_line_width: 1px;
    --board_line_padding: 2.5px;
    --checkbox_size: 12px;
    /*calculated sizes*/
    --main_margin: calc(var(--grid_column_space_width) / 2);
    --width_1: calc(var(--grid_column_width) * 1);
    --width_2: calc(var(--grid_column_width) * 2 + var(--grid_column_space_width) * 1);
    --width_4: calc(var(--grid_column_width) * 4 + var(--grid_column_space_width) * 3);
    --width_8: calc(var(--grid_column_width) * 8 + var(--grid_column_space_width) * 7);
    --width_9: calc(var(--grid_column_width) * 9 + var(--grid_column_space_width) * 8);
    --width_13: calc(var(--grid_column_width) * 13 + var(--grid_column_space_width) * 12);
    --height_1: calc(var(--grid_row_height) * 1);
    --height_3: calc(var(--grid_row_height) * 3);
    --height_17: calc(var(--grid_row_height) * 17);
    --height_26: calc(var(--grid_row_height) * 26);
    --height_53: calc(var(--grid_row_height) * 53);
    --height_board_title: 20px;
    --height_board_content_17: calc(var(--height_17) - 2 * (var(--height_board_title) + 2px));
    --height_board_content_26: calc(var(--height_26) - 2 * (var(--height_board_title) + 2px));
    --height_board_content_53: calc(var(--height_53) - 2 * (var(--height_board_title) + 2px));
    --height_board_content_no_title_or_btn_17: calc(var(--height_17) - 1 * (var(--height_board_title) + 2px));
    --height_board_content_no_title_or_btn_26: calc(var(--height_26) - 1 * (var(--height_board_title) + 2px));
    --height_board_content_no_title_or_btn_53: calc(var(--height_53) - 1 * (var(--height_board_title) + 2px));
}

* {
    font-family: Roboto, Arial, Verdana, Helvetica;
    font-size: 14px;
}

.main_flex_container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    width: var(--container_width);
    height: var(--container_height);
}

.content_flex_container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: var(--content_height);
}

header {
    background: var(--main_dark_color);
    display: flex;
}

.header_app_name {
    position: relative;
    top: calc(var(--border_line_width) * -1);
    left: calc(var(--border_line_width) * -1);
    margin-right: var(--main_margin);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--main_white_color);
    text-shadow: 1px 1px 1px var(--main_black_color);
    padding-left: 25px;
}

.header_search {
    position: relative;
    top: calc(var(--border_line_width) * -1);
    margin-left: var(--main_margin);
    margin-right: var(--main_margin);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.header_search_input {
    background: var(--main_dark_lighter_color);
    background-image: url('/imgs/header/icon_search.png');
    background-position: 5px 3.5px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding: 2.5px 2.5px 2.5px 25px;
}

.header_search_input:focus {
    background: var(--main_light_lighter_color);
    background-image: url('/imgs/header/icon_search.png');
    background-position: 5px 3.5px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding: 2.5px 2.5px 2.5px 25px;
    outline: 1px solid var(--main_light_lighter_color);
}

.header_user_info {
    position: relative;
    top: calc(var(--border_line_width) * -1);
    right: calc(var(--border_line_width) * -1);
    margin-left: var(--main_margin);
    width: var(--width_2);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: end;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--main_white_color);
    text-shadow: 1px 1px 1px var(--main_black_color);
    padding-right: 25px;
}

aside {
    background: var(--main_dark_lighter_color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.aside_icon {
    width: var(--grid_column_width);
    height: calc(var(--grid_row_height) * 5);
}

.aside_icon a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside_icon:hover {
    background: var(--main_light_color);
    border: var(--border_line_width) solid var(--main_black_color);
    box-sizing: border-box;
}

.aside_active {
    background: var(--main_light_lighter_color);
    border: var(--border_line_width) solid var(--main_black_color);
    box-sizing: border-box;
}

.aside_link {
    color: var(--main_black_color);
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.aside_icon a img {
    width: calc(var(--grid_column_width) - var(--grid_row_height));
    height: calc(var(--grid_row_height) * 4);
}

.board {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.board_title {
    background: var(--main_dark_lighter_color);
    height: var(--height_board_title);
    position: relative;
    top: calc(var(--border_line_width) - 2 * var(--border_line_width));
    left: calc(var(--border_line_width) - 2 * var(--border_line_width));
    right: calc(var(--border_line_width) - 2 * var(--border_line_width));
    line-height: var(--height_board_title);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.board_content {
    width: calc(var(--width_4) - 2 * var(--border_line_width));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
}

.board_content::-webkit-scrollbar {
    width: 5px;
}

.board_content::-webkit-scrollbar-track {
    background: var(--main_grey_lighter_color);
    border-radius: calc(var(--border_radius) / 2);
}

.board_content::-webkit-scrollbar-thumb {
    background: var(--main_light_lighter_color);
    border-radius: calc(var(--border_radius) / 2);
}

.board_content::-webkit-scrollbar-thumb:hover {
    background: var(--main_light_color);
    border-radius: calc(var(--border_radius) / 2);
}

.board_content ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.board_content ul li {
    list-style: none;
    height: var(--grid_row_height);
    margin: var(--main_margin) 2px var(--main_margin) 2px;
    padding: var(--board_line_padding);
}

.board_content ul li:hover {
    background: var(--main_light_color);
    border: var(--border_line_width) solid var(--main_black_color);
}

.board_content_no_active_line {
    border: var(--border_line_width) solid var(--main_white_color);
}

.board_content_active_line {
    background: var(--main_light_lighter_color);
    border: var(--border_line_width) solid var(--main_black_color);
}

.board_button_container {
    display: flex;
    justify-content: space-between;
}

.board_create_button {
    background: var(--main_light_lighter_color);
    height: var(--height_board_title);
    position: relative;
    bottom: calc(var(--border_line_width) * -1);
    left: calc(var(--border_line_width) * -1);
    right: calc(var(--border_line_width) * -1);
    line-height: var(--height_board_title);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.board_create_button:hover {
    background: var(--main_light_color);
}

.board_content_no_active_line a,
.board_content_active_line a {
    position: relative;
    top: calc(-1 * (var(--board_line_padding) + var(--border_line_width)));
    left: calc(-1 * (var(--board_line_padding) + var(--border_line_width)));
    border-radius: var(--border_radius);
    padding: calc((var(--board_line_padding) + var(--border_line_width)));
}

.board_line_container {
    position: relative;
    height: var(--grid_row_height);
    padding: calc((var(--board_line_padding) + var(--border_line_width)));
    top: calc(-1 * (var(--board_line_padding) + var(--border_line_width)));
    left: calc(-1 * (var(--board_line_padding) + var(--border_line_width)));
    border-radius: var(--border_radius);
    display: flex;
}

.board_line_checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board_checkbox {
    margin: 0px;
    height: var(--checkbox_size);
    width: var(--checkbox_size);
    accent-color: var(--main_light_lighter_color);
}

.board_line_param_name {
    text-align: start;
}

.board_line_param_value {
    text-align: end;
    color: var(--main_grey_color);
}

footer {
    text-align: center;
    color: var(--main_dark_color);
}

.first_margined {
    margin: 0 var(--main_margin) var(--main_margin);
    position: relative;
    top: calc(var(--border_line_width) * -1);
}

.margined {
    margin: var(--main_margin);
}

.bordered {
    border: var(--border_line_width) solid var(--main_black_color);
    box-sizing: border-box;
}

.shadowed {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rounded {
    border-radius: var(--border_radius);
}

.height_1 {
    height: var(--height_1);
}

.height_3 {
    height: var(--height_3);
}

.height_17 {
    height: var(--height_17);
}

.height_26 {
    height: var(--height_26);
}

.height_53 {
    height: var(--height_53);
}

.height_board_content_17 {
    height: var(--height_board_content_17);
}

.height_board_content_26 {
    height: var(--height_board_content_26);
}

.height_board_content_53 {
    height: var(--height_board_content_53);
}

.height_board_content_no_title_or_btn_17 {
    height: var(--height_board_content_no_title_or_btn_17);
}

.height_board_content_no_title_or_btn_26 {
    height: var(--height_board_content_no_title_or_btn_26);
}

.height_board_content_no_title_or_btn_53 {
    height: var(--height_board_content_no_title_or_btn_53);
}

.width_100_per {
    width: 100%;
}

.width_95_per {
    width: 95%;
}

.width_70_per {
    width: 70%;
}

.width_65_per {
    width: 65%;
}

.width_50_per {
    width: 50%;
}

.width_48_per {
    width: 48%;
}

.width_30_per {
    width: 30%;
}

.width_15_per {
    width: 15%;
}

.width_5_per {
    width: 5%;
}

.width_1 {
    width: var(--width_1);
}

.width_2 {
    width: var(--width_2);
}

.width_4 {
    width: var(--width_4);
}

.width_8 {
    width: var(--width_8);
}

.width_9 {
    width: var(--width_9);
}

.width_13 {
    width: var(--width_13);
}


/*for debug*/

.random_bg_color_1 {
    background: rgba(243, 58, 34, 0.25);
}

.random_bg_color_2 {
    background: rgba(13, 245, 206, 0.25);
}

.random_bg_color_3 {
    background: rgba(158, 29, 233, 0.25);
}